/*
 * Print typography for the EBW book framework: https://github.com/electricbookworks/book-framework
 * Created specifically for use with PrinceXML: http://princexml.com
 * Can also be used with DocRaptor: http://docraptor.com
 * This stylesheet produces an A5 document including crop marks for high-end professional printing.
 */
 
/*
 * Page layouts for PrinceXML/DocRaptor 
 */

@charset "utf-8";

@font-face {
    font-family: "Linux Libertine";
    src: url(fonts/LinLibertine_R.otf);
}
@font-face {
    font-family: "Linux Libertine";
    src: url(fonts/LinLibertine_RI.otf);
	font-style: italic;
}
@font-face {
    font-family: "Linux Libertine";
    src: url(fonts/LinLibertine_RB.otf);
	font-weight: bold;
}
@font-face {
    font-family: "Linux Libertine";
    src: url(fonts/LinLibertine_RBI.otf);
	font-style: italic;
	font-weight: bold;
}
@font-face {
    font-family: "Linux Libertine";
    src: url(fonts/LinLibertine_RZ.otf);
	font-weight: 600;
}
@font-face {
    font-family: "Linux Libertine";
    src: url(fonts/LinLibertine_RZI.otf);
	font-weight: 600;
	font-style: italic;
}
@font-face {
    font-family: "Linux Libertine Mono";
    src: url(fonts/LinLibertine_M.otf);
}
@font-face {
    font-family: "Linux Libertine Small Caps";
    src: url(fonts/LinLibertineC_Re-4.0.1.otf);
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-Black.ttf);
	font-weight: 900;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-BlackItalic.ttf);
	font-weight: 900;
	font-style: italic;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-Bold.ttf);
	font-weight: 700;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-BoldItalic.ttf);
	font-weight: 700;
	font-style: italic;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-ExtraLight.ttf);
	font-weight: 200;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-ExtraLightItalic.ttf);
	font-weight: 200;
	font-style: italic;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-Italic.ttf);
	font-weight: 400;
	font-style: italic;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-Light.ttf);
	font-weight: 300;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-LightItalic.ttf);
	font-weight: 300;
	font-style: italic;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-Regular.ttf);
	font-weight: 400;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-Semibold.ttf);
	font-weight: 600;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-SemiboldItalic.ttf);
	font-weight: 600;
	font-style: italic;
}
@font-face {
    font-family: "Source Code Pro";
    src: url(fonts/SourceCodePro-Regular.ttf);
}
@font-face {
    font-family: "Source Code Pro";
    src: url(fonts/SourceCodePro-Bold.ttf);
	font-weight: bold;
}

/* Set up our basic page margins */
@page { 
	size: A5; 
	margin: 15mm 15mm 20mm 15mm;
	padding: 0;
	marks: crop;
}

/* Name our divs for PrinceXML */
.frontmatter {
	page: frontmatter;
}
.chapter {
	page: chapter;
}
.toc {
	page: toc;
}

/* Let's set running heads and footers for chapter pages only (add more if add other layouts)*/
@page chapter:left {
  @bottom-left {
    content: counter(page) "\2003" string(chapter-title, last);
    text-align: left;
    font-size: 9pt;
	text-transform: lowercase;
	font-family: "Linux Libertine Small Caps";
	letter-spacing: 0.05em;
  }
}
@page chapter:right {
  @bottom-right {
    content: string(section-title, last) "\2003" counter(page);
    text-align: right;
    font-size: 9pt;
	text-transform: lowercase;
	font-family: "Linux Libertine Small Caps";
	letter-spacing: 0.05em;
  }
}

/* We want mandatory page breaks before some layouts */
div.frontmatter, div.toc, div.chapter { 
	page-break-before: always;
}

/* For manual page breaks, apply this class to a the first element on the new page */
.page-break-before {
	page-break-before: always;
}

/* To keep an element on the same page as the next element, apply this class */
.keep-with-next {
	page-break-after: avoid;
}

/* To prevent an element breaking across pages, apply this class */
.keep-together {
	page-break-inside: avoid;
}

/*
 * Title page
 */

.titlepage-title {
	font-size: 3em;
	margin: 20% 0 0 0;
	line-height: 100%;
}
.titlepage-subtitle {
	font-size: 2.5em;
	margin: 1em 0 1em 0;
	line-height: 100%;
}
.titlepage-author {
	font-size: 2em;
	line-height: 100%;
	margin: 0 0 2em 0;
}
.titlepage-logo {
	width: 100px;
	position: absolute;
	bottom: 0;
}

/*
 * Copyright page
 */
 
.copyright-logo {
	width: 100px;
	margin: 0 0 1em 0;
}

/*
 * Contents page
 */

.toc a::after { 
	content: leader(" ") target-counter(attr(href), page) 
}
.toc ul, .toc ol {
	list-style-type: none;
	page-break-inside: avoid;
} 
.toc li {
	margin: 0 0 0.5em 0;
}
.toc li li {
	margin: 0;
}
.toc ol li::marker {
	content: counter(list-item);
}
.toc ol li li::marker {
	content: none;
}
.toc h2 {
	font-weight: 300;
	font-size: 1.2em;
	margin: 1em 0 0.5em 0;
}

/*
 * Tables
 */

table {
	border-collapse: collapse;
	margin: 1em 0;
	font-size: 80%;
}
th, td {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px dotted #f2f2f2;
	border-right: 1px dotted #f2f2f2;
	padding: 0.15em 0.3em;
}
thead, th {
	font-weight: 600;
}
.table-caption {
	page-break-after:avoid;
	font-style: italic;
}
td {
	vertical-align: top;
	page-break-inside: avoid;
}
thead, th, .table-subhead {
	page-break-after: avoid;
	background-color: #F2F2F2;
}
.table-row-stub {
	font-weight: 600;
}
td p {
	margin: 0;
	padding: 0;
}

/*
 * Figures
 */

figure {
	margin: 1em 0;
	padding: 0;
	page-break-inside: avoid;
}
figcaption {
	font-style: italic;
	margin: 1em 0;
}
figure img {
	max-width: 100%;
}

/*
 * Hide screen-only and non-printing elements
 */

.non-printing {
	display: none;
}

/* 
 * Generic output 
 */

body {
	font-family: "Linux Libertine", serif;
	font-size: 10.5pt;
	line-height: 125%;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	page-break-after: avoid;
}
h1 {
	font-weight: 300;
	font-size: 2.5em;
	max-width: 80%;
	string-set: chapter-title content();
}
h1 strong:first-of-type {
	display: block;
	margin: 0 0 0.5em 0;
}
h2 {
	margin: 1em 0 0.5em 0;
	padding-top: 0.5em;
	string-set: section-title content();
}
h3 {
	font-size: 1.1em;
	margin-bottom: 0.3em;
}
h4 {
	font-size: 1em;
	margin-bottom: 0.3em;
}
p {
	margin: 0 0 0.5em 0;
}
p.chapter-number {
	font-weight: bold;
	font-size: 3.5em;
	margin: 0 0 0.66em 0;
}
ul, ol {
	margin: 0 0 0.5em 0;
}
li:first-of-type {
	page-break-after: avoid;
}
li:last-of-type {
	page-break-before: avoid;
}
li li:first-of-type {
	page-break-before:avoid;
}
blockquote {
	margin: 0.5em 0 0.5em 0;
	padding: 0.5em 1em 0.5em 1em;
	font-size: 1.5em;
	border-left: 5px solid #ddd;
	max-width: 20em;
}
blockquote p {
	margin: 0;
	padding: 0;
}
dl {
	color: #666;
	font-size: 90%;
	font-weight: 300;
}
dt {
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.05em;
	page-break-after: avoid;
}
pre, code {
	font-family: "Source Code Pro", monospace;
	white-space: pre-wrap;
	background-color: #f9f9f9;
	padding: 0.1em 0.3em;
	border-radius: 0.2em;
}
a {
	text-decoration: none;
	color: inherit;
}
