---
# Print styles
---

// WHAT IS THIS? TBS

// First, let's set character encoding. Don't change this.
@charset "utf-8";

// -------------
// Set variables
// -------------

$page-size: 129mm 198mm; // Width, then height. 129×198 is B-format (Lightning Source compatible)
$margin-top: 15mm;
$margin-bottom: 20mm;
$margin-outside: 13mm;
$margin-inside: 19mm;
$bleed: 3mm;
$trim: 3mm;
$crop-marks: crop; // crop | none

$font-text-main: "Source Sans Pro", serif;
$font-text-secondary: "Crimson", sans-serif;
$font-display-main: "Source Sans Pro", sans-serif;
$font-display-secondary: "Crimson", serif;
$font-code: "Inconsolata", monospace;

$font-size-default: 10pt;
$line-height-default: 13pt; // Set this in points and make it the base of all other line heights and vertical margins to preserve a baseline grid
$text-align: left;
$orphans: 1; // minimum number of lines that must be left at the bottom of the first page
$widows: 1; // minimum number of lines that must be left at the top of the second page
$hyphenation: auto; // Can be auto, none, or manual (i.e. only breaks on hyphens and soft hyphens)
$hyphenation-dictionary: ""; // File name of dictionary in css/dictionaries. Better to set in child CSS than parent.

// ----------------------------------------------------
// Import font files (@font-face) for fonts you specify
// ----------------------------------------------------

//@import "font-linux-libertine";
@import "font-source-sans-pro";
@import "font-inconsolata";
@import "font-crimson";

// ------------------------
// Import your master theme
// ------------------------

@import "print-classic";

// ------------------------------
// Page footer and header options
// ------------------------------

// If you want only bottom-centered page numbers, uncomment the following line
//@import "print-classic-page-footers-page-numbers-only";

// If you want page headers, uncomment the following line
@import "print-classic-page-headers";

// Uncomment to turn off footers completely
@import 'print-classic-page-footers-none';

// -------------
// Custom styles
// -------------

// Add any custom style rules here.
