@charset "utf-8";

/* 
 * Child styles for Book Two in the EBW Book Framework. 
 * This stylesheet is only to demo how child styles work, overriding elements of the parent style.
 */

/* Change the base font and background colour. */
 
body {
	font-family: "Source Sans Pro", sans-serif;
	background-color: #f8e9d9;
}
 
/* A slightly different nav bar from the default. */

#nav-bar {
	position: fixed;
	top: 0;
	height: 2em;
	width: 100%;
	opacity: 0.9;
	border-bottom: 1px solid #f2f2f2;
	z-index: 1;
	background-color: #704214;
}
	@media only screen 
	and (max-width: 280px), (max-height: 600px) { /* Let nav-bar scroll out of view on small screens */
		#nav-bar {
			position: relative;
		}
	}
#nav-bar a {
	font-family: initial;
	text-decoration: none;
	color: black;
	float: right;
	margin: 1.5em 1em 0 0;
	font-size: 2em;
	font-weight: bold;
	line-height: 100%;
	background-color: white;
	border-radius: 1em;
	height: 1em;
	width: 1em;
	text-align: center;
	border: 1px solid #eeeeee;
}
#nav-bar a:hover {
	color: grey;
}
.home #nav-bar a {
	display: none;
}

/* A short explanatory note after the main heading. */

h1:first-of-type:after {
	display: block;
	content: "Different books can have design variations. This book shares a default design with Book One, but has a different nav bar, font, and background colour.";
	margin: 1em;
	padding: 0.5em 0;
	font-size: 0.5em;
	color: #666666;
	line-height: 120%;
	font-weight: 300;
	font-style: italic;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
