// This file sets a page footer containing only the page number, bottom centered.

// Let's define typography as a mixin
// Note we don't set margins here. The footer will center vertically in the margin box. 
// Control position with `vertical-align: bottom` and then `margin-bottom`.
@mixin footer-style() {
    font-family: $font-text-main;
    font-size: $font-size-default * 0.8;
    font-variant: prince-opentype(lnum); // This page-numbers-only usage calls for lining figures
}

// To get page numbers only in @bottom-center:
// First, turn off bottom-left and bottom-right footers (from default classic theme)
@page chapter:left {
  @bottom-left {
    content: normal;
  }
}
@page chapter:right {
  @bottom-right {
    content: normal;
  }
}
// Then, set page counters for bottom-center and style them
@page chapter {
  @bottom-center {
    content: counter(page);
    text-align: center;
    @include footer-style();
  }
}

// But remove footers from blank pages of a chapter (e.g. a blank verso opposite the opening recto).
@page chapter:blank {
  @bottom-center {
    content: normal;
  }
}
