{% include get-slug.html %}
	<div id="footer" class="non-printing">
		<div class="footer-content">
			<p>
				<a href="{{ site.data.meta.series.url }}" title="{{ site.data.meta.series.organisation }}" class="footer-publisher">{{ site.data.meta.series.organisation }}</a>
				<a href="{{ site.baseurl }}/" title="Home: {{ site.data.meta.series.name }}" class="footer-series">{{ site.data.meta.series.name }}</a>
				<a href="{{ page.start-page }}" title="Contents: {{ site.data.meta.titles.[slug].title }}" class="footer-book"><em>{{ site.data.meta.titles.[slug].title }}</em></a>
				<a href="" title="Top: {{ page.title }}" class="footer-page">{{ page.title }}</a>
			</p>
		</div><!--.footer-content-->
	</div><!--#footer-->
