$web-footer: true !default;
@if $web-footer {

	// Footer

	#footer {
		// position: fixed; // Make this fixed to make footer always visible
		bottom: 0;
		background-color: $color-background;
		font-family: $font-text-secondary;
		border-top: 1px solid $color-light;
		box-shadow: 0 1px 5px 3px $color-background;
		margin: ($line-height-default * 2) 0 0 0;
		padding: ($line-height-default / 2) 0 0 ($nav-bar-width + 2em);
		width: 100%; // Prevents floating when preceding elements float or flex
	}
	.footer-content {
		clear: both;
		max-width: $max-width-default;
	}
	#footer p,
	#footer ol,
	#footer ul {
		font-size: $font-size-default * $font-size-smaller;
		text-indent: 0;
		margin: 0 0 ($line-height-default / 2) 0;
	}

}