$web-valedictions: true !default;
@if $web-valedictions {

    // A valediction, the sign-off at the end of a letter
    
    p.valediction {
        text-indent: 0;
        margin: $line-height-default 0;
        page-break-before: avoid;
    }
    // Paragraphs after a valediction should be flush left
    .valediction + p {
        text-indent: 0;
    }

}