/*
 * Footnotes
 */

.footnotes {
	margin: 2em 0 0 0;
	font-size: 0.9em;
	line-height: 130%;
}
.footnotes p {
	text-indent: 0;
}
.reversefootnote { // The link back to the footnote reference from the footnote text.
	display: none;
}
.sidenote {
	font-family: $font-text-secondary;
	clear: both;
	float: right;
	max-width: 10em;
	min-width: 5em;
	margin: 0.5em 0 0.5em 2em;
	padding: 0.5em;
	border-top: 0.5pt solid #eeeeee;
	text-indent: 0;
	font-size: 0.8em;
	font-style: inherit;
	line-height: 130%;
}
.bottom {
	float: bottom;
	max-width: 100%;
	margin: 1em 0 0 0;
}
