/* 
 * Extra typographic control for fitting text and elements
 */

/* Float an element, like a box, to the top of bottom of a page (print only) */
 
.float-top {
	float: top;
}
.float-bottom {
	float: bottom;
}
.float-top + p, .float-bottom + p {
	text-indent: $line-height-default; // If a paragraph would normally be flush left after an element, but that element is floated away, it should get its indent back.
}
 
/* Use these classes to control tracking, usually to save widows and orphans. */
.tight {
	letter-spacing: -0.0075em;
	word-spacing: -0.0075em;
	font-style: inherit;
}
.x-tight {
	letter-spacing: -0.01em;
	word-spacing: -0.01em;
	font-style: inherit;
}
.xx-tight {
	letter-spacing: -0.05em;
	word-spacing: -0.05em;
	font-style: inherit;
}
.xxx-tight {
	letter-spacing: -0.1em;
	word-spacing: -0.1em;
	font-style: inherit;
}
.loose {
	letter-spacing: 0.0075em;
	word-spacing: 0.0075em;
	font-style: inherit;
}
.x-loose {
	letter-spacing: 0.01em;
	word-spacing: 0.01em;
	font-style: inherit;
}

/* Shrink the font size */
.shrink {
	font-size: 0.7em; /* Useful for wide tables */
}
